In [13]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2224,ham,"I prefer my free days... Tues, wed, fri oso ca...",NaN,NaN,NaN
5155,ham,MY NEW YEARS EVE WAS OK. I WENT TO A PARTY WIT...,NaN,NaN,NaN
1051,ham,Do u noe wat time e place dat sells 4d closes?,NaN,NaN,NaN
2866,ham,"Mum, i've sent you many many messages since i ...",NaN,NaN,NaN
4287,ham,Hey mr whats the name of that bill brison book...,NaN,NaN,NaN

In [17]:
df.shape

(5572, 5)

# 1. Data Cleaning as we have lots of NAN columns
# 2. EDA
# 3. Text Preprocessing
# 4. Model Building
# 5. Evaluation
# 6. Improvement
# 7. Website Conversion
# 8. Deploy

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [19]:
# drop las 3 columns as they are not important
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [20]:
df.sample(5)

       v1                                                 v2
5048  ham  Edison has rightly said, \A fool can ask more ...
1906  ham  And stop being an old man. You get to build sn...
2967  ham             Mostly sports type..lyk footbl,crckt..
4182  ham                  Sorry, I'll call later in meeting
232   ham                  Sorry battery died, yeah I'm here

# renaming the columns

In [21]:
df.rename(columns={'v1':'target', 'v2':'text'}, inplace=True)
df.sample(5)

     target                                               text
119    spam  PRIVATE! Your 2004 Account Statement for 07742...
1662   spam  Hi if ur lookin 4 saucy daytime fun wiv busty ...
2000    ham  But i'll b going 2 sch on mon. My sis need 2 t...
1581    ham  Hhahhaahahah rofl wtf nig was leonardo in your...
2511    ham                                Er yep sure. Props?