In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1583,ham,"It's cool, let me know before it kicks off aro...",NaN,NaN,NaN
5431,ham,If I was I wasn't paying attention,NaN,NaN,NaN
4676,ham,Wewa is 130. Iriver 255. All 128 mb.,NaN,NaN,NaN
4285,ham,Congrats. That's great. I wanted to tell you n...,NaN,NaN,NaN
973,ham,what is your account number?,NaN,NaN,NaN

In [3]:
df.shape

(5572, 5)

# 1. Data Cleaning as we have lots of NAN columns
# 2. EDA
# 3. Text Preprocessing
# 4. Model Building
# 5. Evaluation
# 6. Improvement
# 7. Website Conversion
# 8. Deploy

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
# drop las 3 columns as they are not important
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [6]:
df.sample(5)

       v1                                                 v2
2712  ham  Hey you still want to go for yogasana? Coz if ...
2966  ham  NEFT Transaction with reference number  &lt;#&...
4764  ham  if you text on your way to cup stop that shoul...
5183  ham                Fuuuuck I need to stop sleepin, sup
4080  ham                          Hurry home. Soup is DONE!

# renaming the columns

In [7]:
df.rename(columns={'v1':'target', 'v2':'text'}, inplace=True)
df.sample(5)

     target                                               text
1855    ham  K.:)you are the only girl waiting in reception...
1156    ham  Hey.. Something came up last min.. Think i wun...
2580   spam  U are subscribed to the best Mobile Content Se...
4963   spam  Dear Voucher holder Have your next meal on us....
1059   spam  EASTENDERS TV Quiz. What FLOWER does DOT compa...

In [10]:
# Checking Missing Values
df.isnull().sum()

target    0
text      0
dtype: int64

In [11]:
# Check Duplicate Value
df.duplicated().sum()

np.int64(403)

In [12]:
df = df.drop_duplicates(keep='first')

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.shape

(5169, 2)

Step 2 is EDA from here

In [15]:
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
# Find out 
df['target'].value_counts()